extends layout

block content

  .row
    .col.s6.m6.l6
      .row
        h1.light Meet <strong>Dexter</strong>
        h5.light Dexter can help you create amazing playlists on Spotify
      .row
        a.waves-effect.waves-light.blue.btn(onclick="location.href='http://m.me/meet.dexter';")
          | Talk to Dexter on Messenger

    .col.s6.m6.l6
      img(src='/images/hand_demo.png')

